* {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  position: relative;
  height: 90vh;
  background-color: #0891b2;
}

header > section {
  position: absolute;
  top: 70px;
  left: 150px;
  display: flex;
  align-items: center;
}

.straight {
  height: 60%;
}

.diagonal {
  height: 40%;
  background: linear-gradient(
    to bottom right,
    #0891b2 50%,
    white calc(50% + 1px)
  );
}

.dog1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3.5rem;
  color: white;
  font-weight: 600;
  width: 500px;
  height: 600px;
  box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.29);
  background-image: url("./assets/images/dog1.jpg");
  background-size: cover;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 650px;
  height: 450px;
  background-color: white;
  box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.29);
  padding: 0 24px;
}

.about > h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

.about > p {
  font-size: 1.3rem;
  color: #575655;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.about > footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding-right: 12px;
}

footer > img {
  width: 40px;
}
